<!doctype html>
<html>
    <head>
    </head>
    <body>
        <header>
            <img id="logo">
            <h1 id="page-title">Yummy!</h1>
            <p>Enjoy a healthy and tasty meal in a restaurant nearby. Share
            your experiences and discover the best of the local gastronomy.</p>
        </header>
        <main>
            <section class="restaurant pictures">
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
                <figure></figure>
            </section>
            <section class="restaurants map">
            </section>
        </main>
        <footer>
        </footer>
    </body>
</html
