<!doctype html>
<html>
    <head>
    </head>
    <body>
        <header>
            <img id="logo">
            <h1 id="page-title">Add a new restaurant</h1>
        </header>
        <section id="breadcrumb">
        </section>
        <main>
            <form method="post">
                <fieldset>
                <legend>Basic Information</legend>
                <label for="name">Name</label>
                <input name="name" type="text">
                <label for="description">Description</label>
                <textarea name="description">
                </textarea>
                </fieldset>
                <fieldset>
                    <legend>Upload restaurant pictures</legend>
                    <label for="picture-1">Image</label>
                    <input name="picture-1" type="image">
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        </main>
    </body>
</html>
